
// Color taken from the original logo of Café sample
$sampleColor: rgb(255, 199, 63);
$sampleLight1: rgb(255, 209, 98);
$sampleLight2: rgb(255, 221, 141);
$sampleDark1: rgb(243, 176, 12);
$sampleDark2: rgb(184, 131, 5);

// Maranello red used to emulate the sofas within the completed cafe
$maranelloRed: rgb(255, 40, 0);
$maranelloRedLight1: rgb(255, 88, 57);
$maranelloRedLight2: rgb(255, 124, 100);
$maranelloRedDark1: rgb(198, 31, 0);
$maranelloRedDark2: rgb(155, 24, 0);

//Next two accents are used for texts and lines within the page to contrast with the warm and usually dark colors
$ivoryAccent: rgb(243, 240, 224);
$ivoryAccentLight1: rgb(255, 254, 248);
$ivoryAccentLight2: rgb(255, 255, 254);
$ivoryAccentDark1: rgb(207, 202, 175);
$ivoryAccentDark2: rgb(174, 167, 129);

$creamAccent: rgb(255, 253, 208);
$creamAccentLight1: rgb(255, 254, 233);
$creamAccentLight2: rgb(255, 255, 250);
$creamAccentDark1: rgb(219, 216, 151);
$creamAccentDark2: rgb(184, 180, 99);

//Standard grey shades for footer/header, wherever you want to use grey really
$brickGrey: rgb(153, 153, 153);
$brickGreyLight1: rgb(196, 196, 196);
$brickGreyLight2: rgb(248, 247, 247);
$brickGreyDark1: rgb(108, 108, 108);
$brickGreyDark2: rgb(51, 51 , 51);

//Some colorpickings from the background used in figma, might be useful
$warmWood1: #1d0c02;
$warmWood2: #4b2711;
$warmWood3: #371806;
$warmWood4: #653b22;
$warmWood5: #8b5435;
