%footer-bg-base {
    height: auto;
}

.footer-background {
    @extend %footer-bg-base;
    background-color: rgb(196, 196, 196);
    height: 500px;
}

.footer-background1 {
    @extend %footer-bg-base;
    background-color: rgb(108, 108, 108);
    height: 200px;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(30,30,30,0.75);
    -moz-box-shadow: 0px -1px 10px 0px rgba(30,30,30,0.75);
    box-shadow: 0px -1px 10px 0px rgba(30,30,30,0.75);
}

.footer-background2 {
    @extend %footer-bg-base;
    background-color: rgb(54, 54, 54);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
}

.footer {

    &-font {
        color: white;
        font-size: 15px;
    }
    
    &-icon-background {
        width: 50px;
    }
    
    &-img-background {
        width: 100px;
        height: 70px;
    }
    
    &-map-image {
        width: 850px;
        height: 350px;
        margin-top: auto;
        margin-bottom: auto;
        -webkit-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 4px 20px 0px rgba(0,0,0,0.75);
    }
    
}

.common-footer{
    position: relative;
    z-index: 1;
}