.common-header{
    z-index: 1;
    // margin-bottom: 60%;
    -webkit-box-shadow: 0px 30px 36px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 30px 36px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 30px 36px 0px rgba(0,0,0,0.5);
}
.header-grey-background {
    background-color: #363636;
    height: auto;
    -webkit-box-shadow: inset 0px 0px 36px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 36px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 36px 0px rgba(0,0,0,0.5);
}

.sample-font{
    color: white;
    font-size: 30px;
    font-family: Philosopher;
    font-weight: lighter;
    margin-top: 10px;
}

.header-icon-background {
    height: 2rem;
    width: 2rem;
    margin: 2px;
}

.nav-font{
    font-family: Courier;
    font-weight: bold;
    color: antiquewhite;
    text-decoration: none;

    &:hover{
        text-decoration: none;
        color: rgb(240, 115, 65);
        border-bottom: 2px rgb(240, 115, 65) solid;
    }
}

.carousel-bottom {
    z-index: 1;
    position: absolute;
    bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
// .carousel-style{
//     width: 100%;
//     position: absolute;
//     height: 60%;
// }

// carousel {
//     height: 50%;
// }
.nav-line{
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 10%;
}
// .opening-hours-listing{
//     // position: relative;
//     // bottom: 160px;
//     height: 150px;
//     z-index: 1;
//     width: auto; 
// }
.navigate-footer-map{
    // position: relative;
    // bottom: 20%;
    // margin-right: 10px;
    text-align: end;
    position: absolute;
    bottom: 30%;
    right: 5%;
}
.opening-hours-font {
    color: aliceblue;
    font-family: Courier;
    font-size: small;
    margin: 0px;

}
.shopping-cart-icon {
    margin: auto 10px auto auto;
    max-height: 32px;
}

// .centered{
//     /* text-align: center; */
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//   }

//   .panel-button{
//       text-align: center;
//       width: 100%;
//       height: 200px;
//       overflow: hidden;
//       margin: 10px;
//       border: 1px black dotted;
//   }
//   .panel-button:hover{
//     opacity: 60%;
//   }
//   .panel-button:focus{
//       color: rgb(80, 51, 40);
//   }
//   .panel-text{
//       position: relative;
//   }

