.common-header{
    z-index: 1;
    // margin-bottom: 60%;
}
.header-grey-background {
    background-color: #363636;
    height: auto;
}

.sample-font{
    color: white;
    font-size: 30px;
    font-family: Philosopher;
    font-weight: lighter;
    margin-top: 10px;
}

.header-icon-background {
    height: 2rem;
    width: 2rem;
    margin: 2px;
}

.nav-font{
    font-family: Courier;
    font-weight: bold;
    color: antiquewhite;
    text-decoration: none;

    &:hover{
        text-decoration: none;
        color: rgb(240, 115, 65);
        border-bottom: 2px rgb(240, 115, 65) solid;
    }
}

.carousel-bottom {
    z-index: 1;
    position: absolute;
    bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

// .carousel-style{
//     width: 100%;
//     position: absolute;
//     height: 60%;
// }
.nav-line{
    margin: auto;
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 10%;
}
.opening-hours-listing{
    // position: relative;
    // bottom: 160px;
    height: 150px;
    margin-bottom: 10px;
    z-index: 1;
    width: auto; 
}
.navigate-footer-map{
    // position: relative;
    // bottom: 20%;
    // margin-right: 10px;
    z-index: 1;
    text-align: end;
}
.opening-hours-font {
    color: aliceblue;
    font-family: Courier;
    font-size: small;
    margin-bottom: 0px;
}

.centered{
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .panel-button{
      text-align: center;
      width: 100%;
      height: 200px;
      overflow: hidden;
      margin: 10px;
      border: 1px black dotted;
  }
  .panel-button:hover{
    opacity: 60%;
  }
  .panel-button:focus{
      color: rgb(80, 51, 40);
  }
  .panel-text{
      position: relative;
  }