.common-header{
    z-index: 1;
    margin-bottom: 60%;
}
.header-grey-background {
    background-color: #363636;
    height: auto;

    .social-media-icons{
        margin: auto 10px auto auto;
    }
}
.sample-font{
    color: white;
    font-size: 30px;
    font-family: Philosopher;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 10px;

}

.header-icon-background {
    height: 2rem;
    width: 2rem;
    margin: 2px;
}

.nav-font{
    font-family: Courier;
    font-weight: bold;
    color: antiquewhite;
    margin: 0 10px 0 10px;
    text-decoration: none;

    &:hover{
        text-decoration: none;
        color: rgb(240, 115, 65);
        border-bottom: 2px rgb(240, 115, 65) solid;
    }
}

.carousel-style{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 60%;

}
carousel{
    height: 50%;
}
.nav-line{
    margin: 100px auto auto auto;
    text-align: center;
    z-index: 1;
    position: absolute;
    width: 100%;
}
.opening-hours-listing{
    position: relative;
    bottom: 180px;
    height: 150px;
    margin-bottom: 10px;
    z-index: 1;
}
.navigate-footer-map{
    position: relative;
    bottom: 0px;
    margin-right: 10px;
    z-index: 1;
    text-align: end;
    justify-content: end;
}
.opening-hours-font{
    color: aliceblue;
    font-family: Courier;
    font-size: small;
    margin: 0px;

}

// Tthis has been added to overwrite businesshour styling in paragraphs
p, td, th, tr {
    margin: 0px;
    color: aliceblue;
    font-family: Courier;

}