.footer-background2 {
  height: auto;
}

.footer-background {
  height: 500px;
  padding-bottom: 5%;
}

.footer-background2 {
  background-color: #363636;
  -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
}

.footer-font {
  color: white;
  font-size: 15px;
}
.footer-icon-background {
  width: 50px;
}
.footer-img-background {
  width: 100px;
  height: 70px;
}
.footer-map-image {
  width: 850px;
  height: 350px;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.75);
}

.map-title-text {
  color: white;
  text-shadow: 1px 1px 2px rgba(30, 30, 30, 0.5);
}

.common-footer {
  position: relative;
  z-index: 1;
}

.common-header {
  z-index: 1;
  -webkit-box-shadow: 0px 30px 36px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 30px 36px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 30px 36px 0px rgba(0, 0, 0, 0.5);
}

.header-grey-background {
  background-color: #363636;
  height: auto;
  -webkit-box-shadow: inset 0px 0px 36px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 36px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 36px 0px rgba(0, 0, 0, 0.5);
}

.sample-font {
  color: white;
  font-size: 30px;
  font-family: Philosopher;
  font-weight: lighter;
  margin-top: 10px;
}

.header-icon-background {
  height: 2rem;
  width: 2rem;
  margin: 2px;
}

.nav-font {
  font-family: Courier;
  font-weight: bold;
  color: antiquewhite;
  text-decoration: none;
}
.nav-font:hover {
  text-decoration: none;
  color: #f07341;
  border-bottom: 2px #f07341 solid;
}

.carousel-bottom {
  z-index: 1;
  position: absolute;
  bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
}

.nav-line {
  text-align: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 10%;
}

.navigate-footer-map {
  text-align: end;
  position: absolute;
  bottom: 30%;
  right: 5%;
}

.opening-hours-font {
  color: aliceblue;
  font-family: Courier;
  font-size: small;
  margin: 0px;
}

.social-media-icons-bottom, .social-media-icons-top {
  margin: auto 0px;
}

.social-media-icons-top {
  text-align: end;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.inline-block {
  display: inline-block;
}

.wood-background {
  background-image: url("../Media/joshua-bartell-6vvIBTvL90A-unsplash.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

.centered {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.set-on-top {
  z-index: 10;
}

.panel-button {
  text-align: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 10px;
  margin: auto;
  padding: 2em;
}

.hover-shadow:hover {
  -webkit-box-shadow: inset 0px 0px 138px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px 0px 138px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 138px 0px rgba(0, 0, 0, 0.7);
  opacity: 70%;
}

.panel-button:focus {
  color: #503328;
}

.panel-text {
  position: relative;
  margin: 0 10% px 0 10% px;
}

.image-panel {
  background-color: #C4C4C4;
  padding: 1em;
  min-height: 300px;
  -webkit-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.7);
}

.image-panel-heading {
  text-align: start;
  text-decoration-line: underline;
}

.deal-panel {
  margin: 30px;
  height: auto;
}
.deal-panel > p {
  font-family: Courier;
  font-size: 15px;
  padding: 10px;
  text-align: center;
  color: lightgray;
}
.deal-panel > h4 {
  font-family: Courier;
  font-size: 25px;
  text-align: center;
  margin: 10px;
  color: lightgray;
}

.chalboard-placeholder {
  border: 10px #77563b solid;
  background-color: #414141;
}

.centered {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-style {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  translate: -50%, -50%;
}

.modal-view {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px;
  overflow-wrap: break-word;
}

.modal-quantity-picker {
  margin: 2px 10px 2px 10px;
}

.dark-font {
  color: black;
}

.font-family {
  font-family: Courier;
}

.main-frame {
  max-width: 80%;
  margin: 5% auto 10% auto;
  padding: 2% 0 2% 0;
}

.form-frame {
  border-radius: 30px;
  background-color: rgba(2, 2, 2, 0.082);
  box-shadow: 0 0 10px 8px white inset;
}

.form-label {
  margin: 0;
  padding: 20px 0 0 0;
  font-weight: bold;
  font-family: Courier;
}

.form-control {
  color: black;
  font-family: Courier;
}

.form-center-col {
  margin: 20px auto 20px auto;
  text-align: center;
}

.top-padding {
  padding-top: 10px;
}

.g-recaptcha {
  display: inline-block;
}

.btn-primary, .btn-primary:hover, .btn-primary:visited .btn-primary:focus, .btn-primary:active {
  background-color: #fa8d44 !important;
  border: none;
  color: black;
}

.btn-primary {
  background-color: #be5c23 !important;
  border-radius: 2px 2px 10px 2px;
  border: none;
  color: black;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
  height: 38px;
}

h3 {
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  text-align: center;
  padding: 10px 2px 10px 2px;
}

/*# sourceMappingURL=styles.css.map */
