
.header-grey-background {
    background-color: #363636;
    display: flex;
    flex-direction: row;
}
.sample-font{
    color: white;
}

.header-icon-background {
    background-color: white;
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    margin: 5px;
}