
.container{
    align-content: center;
}
.header-grey-background {
    background-color: #363636;
    height: auto;
}
.sample-font{
    color: white;
    font-size: 30px;
    font-family: Philosopher;
    font-weight: lighter;
    margin-top: 10px;
    margin-left: 10px;

}
.social-media-icons{
    margin: auto 10px auto auto;
}
.header-icon-background {
    height: 2rem;
    width: 2rem;
    margin: 2px;
}
.eyecatcher{
    background-image: url('../Media/placeholder_eyecatcher.jpg');
    z-index: 0;
    background-size: cover;
    background-position: center;
    width: 100%; 
    min-height: 300px;
    
    /* height: 300px; */
}


.nav-font{
    font-family: Courier;
    font-weight: bold;
    color: antiquewhite;
    margin: 0 10px 0 10px;
    text-decoration: none;
}
.nav-font:hover{
    text-decoration: none;
    color: rgb(240, 115, 65);
    border-bottom: 2px rgb(240, 115, 65) solid;

}
.nav-line{
    margin: 20px 0 0 0;
    text-align: center;
    z-index: 1;
    position: absolute;
    border: 2px greenyellow solid;
    width: 100%;
}
.carousel-style{
    width: 100%;
    position: absolute;
    /* top: 54px; */
    z-index: -1;
    border: 2px red solid;


}
.opening-hours-font{
    color: aliceblue;
    font-family: Courier;
    font-size: small;
    margin-bottom: 0px;
}
.opening-hours-listing{
    position: relative;
    border: 2px white solid;
    z-index: 1;
    bottom: 0px;
    left:0;
}